<div class="dashboard-page">
    <h2>Dashboard Page</h2>
    <span>!Welcome  <b>{{userName}} </b> </span>
    <br/>
    <br/>
    <div (click)="navigateUserCreation()">
        <button>Create New User</button>
    </div>
    <br/>

    <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>UserName</th>
            <th>Password</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of list">
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span (click)="deleteAction(user)">
                        <i class="fas fa-trash" ></i>
                    </span>
                    <span>  </span>
                    <span (click)="EditAction(user)">
                        <i class="fas fa-edit" ></i>
                    </span>
                    
                </td>
            </tr>
        </tbody>
      </table>
</div>
