<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="login-container">
                    <h1>Create User</h1>
                    <form class="form-group" #user="ngForm" 
                        (ngSubmit)="createUser(user)" autocomplete="off"> 
                        
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control"  name="username"
                                [ngModel]="userForm.username" 
                                #username="ngModel"  required/>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" 
                                name="password"
                                [ngModel]="userForm.password" 
                                #password="ngModel"  required/>
                        </div>

                        <div class="form-group">
                            <label>Email Id</label>
                            <input type="email" class="form-control" 
                                name="email"
                                [ngModel]="userForm.email" 
                                #email="ngModel" required/>
                        </div>

                        <input type="submit" class="btn btn-success" 
                            value="CreateUser" [disabled] ="!user.valid" />
                   

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
