<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="login-container">
                    <h1>Login</h1>
                    <form class="form-group" #login="ngForm" 
                        (ngSubmit)="onLogin(login)" autocomplete="off"> 
                        
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control"  name="username"
                                [ngModel]="loginForm.username" 
                                #username="ngModel"  required/>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" 
                                name="password"
                                [ngModel]="loginForm.password" 
                                #password="ngModel" />
                        </div>

                        <input type="submit" class="btn btn-success" 
                            value="Login" [disabled] ="!login.valid" />
                        <input type="submit" 
                            class="btn btn-warning" value="SinUp" />

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
